<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Новая статья в вашей любимой рубрике</title>
    <style> body { font-family: Arial, Helvetica, sans-serif; color: #333; background-color: #fff; padding: 20px; } h1 { font-size: 24px; margin-bottom: 10px; } p { font-size: 16px; line-height: 1.5; } </style>
</head>
<body>
    <h1>Здравствуй, {{ username }}!</h1>
    <p>{{ type_event }} вашей любимой рубрике:{{categories}}</p>
    <h2>{{ subject }}</h2>
    <p>{{ body_text }}...</p>
    <p>С уважением, команда нашего сайта.</p>
</body>
</html>